<head>
	<title><%= btcPrice %></title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-HOjmaybB3GQTM8HunY46MvK7ngm9b/eRGOWESCQ/s+Vk4omobTY5+FXqurpSFcbz" crossorigin="anonymous">
</head>
<h1>Bitcoin Site</h1>
<div>
	<% include navbar %>
</div>
<div>