<html>
<% include header %>
<h2>Sources</h2>

<a href="https://api.cryptowat.ch/markets/bitstamp/btcusd/price">Cryptowat.ch</a></br>
<a href="https://shabang.io/stats.json">Shabang.io</a>

</div>
</html>