<html>
<% include header %>
<div class="container">
	<h2>Sources</h2>
	<p>API data provided by:</p>
	<a href="https://cryptowat.ch">Cryptowat.ch</a></br>
	<a href="https://shabang.io">Shabang.io</a></br>
	<a href="https://coinmarketcap.com">CoinMarketCap</a></br>
</div>
</html>